<section id="home">
    <div class="container">
        <div class="jumbotron">
            <div class="row">
                <div class="col-md-3 col-12">
                    <img src="../../../assets/img/nokia1.jpg" class="mx-auto d-block img-fluid img-pure" alt="">
                </div>
                <div class="col-md-6 col-12 text-center ">
                    <div class="home-btn">
                        <a ng-href="#!shop">
                            <h1 class="display-4 text-uppercase " ng-click="">Shop Now</h1>
                        </a>
                    </div>
                </div>
                <div class="col-md-3 col-12">
                    <img src="../../../assets/img/nokia2.jpg" class="mx-auto d-block img-fluid" alt="">
                </div>
                <!-- <div class="display-mode" dn-display-mode="displayMode"></div> -->
            </div>
        </div>
    </div>
</section>